<div id="intro-container">
  <h1>Hi, I'm Kevin.</h1>
  <h3>NorCal born, Brooklyn based.</h3>
  <h3>I'm a Product Manager => Web Developer. Previously at <a href="https://generalassemb.ly/">General Assembly</a>.</h3>
</div>


<div id="projects-container">
  <h3>Here are some of my projects:</h3>
  <div class="project">
    <h4>TL;DR | <a href="https://github.com/shiiba/tl-dr">Code</a></h4>
    <!-- placeholder for image -->
    <p>
      A Node.js & React.js application that allows a user to connect their Pocket account and auto-summarize / compress the number of sentences in the article for faster reading. Uses an implementation of TF-IDF (term frequency - inverse document frequency) to determine the relative importance of sentences.
    </p>
  </div>
  <div class="project">
    <h4>Karaoke Party | <a href="https://github.com/shiiba/karaoke_party">Code</a></h4>
    <!-- placeholder for image -->
    <p>
      A Node.js application that allows a user to host a karaoke party with a group of friends on-demand and for free. The videos are searched via the Youtube API, and can be added to the queue via different devices while the current song is playing.
    </p>
  </div>
  <div class="project">
    <h4>What The Fork Should I Eat? | <a href="https://github.com/shiiba/what-the-fork">Code</a></h4>
    <!-- placeholder for image -->
    <p>
      A Node.js & React.js application with user authentification that searches for recipes based on what is in user's 'fridge' and saves the desired recipes to user's profile.
    </p>
  </div>
  <div class="project">
    <h4>Blackjack | <a href="https://github.com/shiiba/blackjack">Code</a></h4>
    <!-- placeholder for image -->
    <p>
      A static front-end blackjack game.
    </p>
  </div>

</div>

