<div class="main-container">
  <h1>Kevin's Blog Posts</h1>

  <div class="blog-container">
    <% @posts.each do |post| %>
        <div class="blog-post">
          <%= link_to "/posts/#{post.id}" do %>
            <h3><%= post.title %></h3>
          <% end %>
          <p>
            <%= truncate(post.body, length: 140) %>
          </p>
        </div>
    <% end %>
  <div>
</div>
