<h1>Kevin's Blog Admin Dashboard</h1>

<% @posts.each do |post| %>
  <%= link_to(admin_post_path(post)) do %>
    <div>
      <h3><%= post.title %></h3>
      <p><strong>Published? </strong><%= post.published %></p>
      <br>
      <hr>
      <br>
    </div>
  <% end %>
<% end %>
